:root {
    --baseColor: #D2FEFD;
    --titleColor: #934E41;
    --background: #0e0e0e;
    --backgroundLight: #090909;
    --playColor: #070606;
    --borderStyle: none;
    --buttonTextColor: #d1d1d1;
    --buttonColor: #070606;
    --inventoryItemSize: 60px;
    --selectionActive: #1c1818;
    --selectionActiveBorder: #934E41;
    --selectionHover: #0d0d0d;
    --selectionHoverBorder: #3c3c3c;
    --borderColor: #292929;
    --textColor: #e8e8e8;
    --textColorDim: #9e9e9e;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: monospace;
}

body {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

.containerInset {
    padding:4px;
}

.gridElement {
    background: var(--background);
    height:100%;
}

#navbar {
    width: 100%;
    background: var(--background);
    height: 60px;
    margin: 0;
}

#statFrame {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    background: var(--background);
}

#infoPane {
    width: 100%;
}

.infoAreaContainer {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
}

#title {
    margin: 0;
    padding: 12px;
    color: var(--titleColor);
    font-family: monospace;
    font-size: 35px;
}

#mainpane {
    width: 100%;
    height: 900px;
    background: var(--background);
    display: flex;
}

.sideBar {
    width: 200px;
    height: 100%;
    background: var(--background);
    margin-right: 5px;
    float: left;
}

#playpane {
    flex: 1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    height: 100%;
    float: left;
    /*position: relative;*/
    z-index: 0;
    opacity: 0.99;
    font-family: monospace;
    font-size: 15px;
}

#statpane {
    width: 300px;
    height: 900px;
    /*margin-left: 5px;*/
    background: var(--background);
    float: right;
    right: 20px;
    z-index: 1;
}

.statValue {
    padding: 0;
    margin: 5px;
    float: right;
}

.statTitle {
    padding: 0;
    margin: 5px;
    float: left;
}

.containerHeader {
    color: var(--selectionActiveBorder);
    padding: 0;
    margin: 5px;
    float: left;
}

#attributes,
#stats,
#inventory,
#equipment {
    padding: 10px;
}

.statCard {
    width: 100%;
    height: 20px;
    float: left;
    font-size: 13px;
}

.statColumn {
    width: 200px;
}

#map {
    background: #29241d;
    height: 100%;
    width: auto;
    float: right;
}

.vital {
    color: var(--selectionActiveBorder);
}

h2.statTitle {
    font-size: 16px;
    width: 280px;
}

#stats {
    width: 280px;
    height: 175px;
}

#attributes {
    width: 280px;
    height: 200px;
    z-index: 5;
}

#equipment {
    width: 280px;
    height: 280px;
}

#inventory {
    width: 280px;
    height: 160px;
}

button.kill {
    z-index: 100;
    position: relative;
}

.button {
    position: relative;
    font-family: monospace;
    padding: 5px;
    height: 40px;
    width: 100%;
    align-content: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 0 solid var(--borderColor);
    border-left-width: 4px;
    font-weight: 500;
    color: var(--buttonTextColor);
    background: var(--buttonColor);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.1s ease-in;
}

.inventoryButton{
    width:50%;
    position:absolute;
    bottom: 0;
    right: 0;
}

button:focus {
    outline: 0;
}

button:hover {
    background: var(--selectionActive);
    border-color: var(--selectionHoverBorder);
}

.buttonActiveSelection {
    border-color: var(--selectionActiveBorder);
    color: var(--selectionActiveBorder);
}

#gamearea {
    overflow: hidden;
    height:100%;
    background: var(--backgroundLight);
    padding: 4px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: var(--selectionActive);
    color: #d1d1d1;
    text-align: center;
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: var(--selectionActiveBorder);
    padding: 5px 0;
    position: absolute;
    z-index: 40;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    pointer-events: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 40;
}

h3.statTitle {
    color: #aed581;
    font-size: 16px;
}

.inset {
    padding-left: 10px;
    width: 96%;
    height: 50%;
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    top: 10px;
    float: left;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 5;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

#statpane2 {
    width: 280px;
    height: 900px;
    float: right;
}

.UIelement {
    border: 0px var(--borderStyle) var(--baseColor);
}

#canvas {
    width: 100%;
    height: 100%;
}

#placeholderImage {
    width: 260px;
}

#inventoryCategories {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#inventoryItemContainer {
    width: 100%;
    height: auto;
}

#inventory_container {
    display: grid;
}

.inventoryCategory {
    background: var(--backgroundLight);
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.activeInventoryCategory {
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: var(--selectionActiveBorder);
    color: var(--selectionActiveBorder);
}

.catTitle {
    position: relative;
    top: 6px;
    vertical-align: middle;
}

#inventoryItems {
    display: grid;
    font-size: 13px;
    background: var(--backgroundLight);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(var(--inventoryItemSize), var(--inventoryItemSize));
    overflow-x: hidden;
    height: 260px;
    padding: 0 8px 8px 8px;
}

#inventoryItems::-webkit-scrollbar {
    background-color: var(--borderColor);
    width: 5px;
}

#inventoryItems::-webkit-scrollbar-thumb {
    background-color: #6A6A6A;
    border-radius: 5px;
    width: 2px;
}

#itemInfoContainer {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--backgroundLight);
    height: 296px;
    padding: 10px;
    font-size: 13px;
}

#itemExtraContainer {
    height:100%;
    width:100%;
    position: relative;
}

#itemStatsContainer {

}

.inventoryItem {
    display: grid;
    background: #000000;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b" "c d";
    height: var(--inventoryItemSize);
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: var(--borderColor);
    cursor: pointer;
}

.inventoryItem:hover {
    border-color: var(--selectionHoverBorder);
    background: var(--selectionHover);;
}

.activeSelection {
    background: var(--selectionActive);
    border-color: var(--selectionActiveBorder);
}

.activeSelection:hover {
    background: var(--selectionActive);
    border-color: var(--selectionActiveBorder);
}

h3 {
    font-size: 16px;
}

.itemType {
    float: left;
    text-transform: capitalize;
    margin-top: 4px;
    margin-left: 6px;
    grid-area: a;
    color: var(--textColorDim)
}

.itemTitle {
    float: right;
    margin-top: 4px;
    margin-right: 8px;
    grid-area: b;
    justify-self: end;
    color: var(--textColor)
}

.itemEquipped {
    color: var(--textColor)
}

.itemCount {
    display: table-cell;
    vertical-align: bottom;
    margin-bottom: 4px;
    margin-right: 8px;
    justify-self: end;
    align-self: end;
    grid-area: d;
    color: var(--textColorDim)
}

.actionMessage {
    font-size: 13px;
}

#actions {
    overflow: auto;
}

.progressContainer {
    height: 26px;
    margin-bottom: 2px;
}

.progressbarContainer {
    display: flex;
}

.inventoryItemInfoTitle {
    font-size: 18px;
    height: 20px;
    margin-bottom: 8px;
}

.inventoryItemInfoDescription {
    height: 90px;
}

progress {
    width: 90%;
    height: 4px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

.progressValue {
    float:left;
    position: relative;
    bottom: 5px;
}

.progressTitle {
    margin-bottom: 2px;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: var(--selectionActiveBorder);
}

.hitRed {
    color: #d95050;
}

.damageGreen {
    color: #48dd48;
}

.weaponBlue {
    color: #346be6;
}

.itemYellow {
    color: #ddb01d;
}

.playerColor {
    color: #5dd65d;
}

.rockerboyColor {
    color: #A93226;
}

.soloColor {
    color: #27AE60;
}

.netrunnerColor {
    color: #2E86C1;
}

.techieColor {
    color: #A2D9CE;
}

.mediaColor {
    color: #f8a912;
}

.copColor {
    color: #2980B9;
}

.corporateColor {
    color: #fff145;
}

.fixerColor {
    color: #ed9b51;
}

.nomadColor {
    color: #2ECC71;
}

.inventoryItemInfoContainer{
    margin-bottom: 6px;
}

.itemInfoSecondary {
    color: var(--textColorDim);
}
